# Dependencias
node_modules/

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de base de datos
*.sqlite
*.db

# Logs
*.log
npm-debug.log*

# Directorios de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de configuración local
config.local.js

# Archivos locales de documentación
inicio.txt
cambios.txt 